{
 "from": {
  "dsn": "",
  "host": "localhost",
  "port": "3306",
  "user": "root",
  "pwd": "root",
  "dbname": "fate",
  "max_idle_con": 0,
  "max_open_con": 0,
  "driver": "mysql",
  "file": "",
  "show_sql": false,
  "show_exec_time": false
 },
 "to": {
  "dsn": "file:newdb.db?cache=shared\u0026_journal=WAL\u0026_fk=1"
 }
}